@import 'components/mixin'

*
  margin: 0
  padding: 0

body
  font-family: 'Maven Pro'
  margin: 0

header,
footer > div:first-child
  +gradient('../img/glass.jpg')

header
  text-align: center
  padding: 50px

header > div:last-child,
main > div:first-child
  display: flex
  flex-direction: column
  align-items: center

h1
  font-size: 86px
  letter-spacing: -3px
  line-height: 72px
  color: #ffffff
  font-weight: 500
  font-family: "Maven Pro"
  padding-bottom: 22px

.bottom-text
  width: 387px
  font-size: 16px
  line-height: 28px
  padding-bottom: 180px
  color: #ffffff
  font-weight: 400
  font-family: "Maven Pro"
  text-align: center

.zozula
  gap: 17px

.light
  a
    color: white
  
.dark
  a
    color: black

a 
  text-decoration: none

.header-text
  font-size: 14px
  letter-spacing: 1px
  line-height: 32px
  text-transform: uppercase
  font-weight: 700
  font-family: "Maven Pro"

.one
  padding-top: 182px
  padding-bottom: 40px
  color: #fff

.two
  padding-top: 120px
  padding-bottom: 25px
  color: #9fa4af

.three
  width: 394px
  padding-bottom: 100px
  color: #9fa4af

h2
  font-size: 60px
  letter-spacing: -2px
  line-height: 72px
  color: #4f4f6f
  font-weight: 500
  font-family: "Maven Pro"
  padding-bottom: 38px

.golub 
  list-style: none
  display: flex
  gap: 60px

.logotext 
  font-size: 30px
  letter-spacing: 6px
  font-weight: 700
  +font-family('Maven Pro')

.smalltextlogo 
  font-size: 16px
  line-height: 19px
  color: #ffffff
  font-weight: 500
  font-family: "Maven Pro"

.flex-between 
  display: flex
  justify-content: space-between

.items-center 
  display: flex
  align-items: center

main 
  text-align: center
  box-shadow: inset 0px 1px 0px #e8ebf1
  box-shadow: inset 0px -1px 0px #e8ebf1
  background-color: #f9fafc