doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="css/style.css")
        title Misocial
    body 
        include components/mixin
        header 
            +menu(mainMenu, 'light')
            p SOCIAL MARKETING & ANALYTICS
            h1 Pricing Table
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        main 
            p MIsocial
            h2 Select a Plan
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            +card(cardInfo.satelite)
            +card(cardInfo.mars)
            +card(cardInfo.rocket)
        footer 
            div 
                p SOCAL MARKETING & ANALYTICS
                h2 Take control of your data
                +menu(mainMenu, 'dark')
            hr 
            div 
                p © 2017 Mass Impressions & Tranmautritam. Make the right impression.
                div 
                    img(src="", alt="")
                    img(src="", alt="")
                    img(src="", alt="")
                    img(src="", alt="")